@CHARSET "UTF-8";
/* 16.11.25 일일 업무 일지 조회, 김남기 */
/* Daily.jsp */
/* 메인 레이아웃 */
.main_knk{
	width: 100%;
	height: 900px;
	background-color: white;
}
/* 레이아웃 상단 */
.top_knk{
	width: 100%;
	height: 20%;
	background-color: #F6F6F6;
}
/* 레이아웃 상단 - 기본 정보 */
.b_information{
	width: 80%;
	height: 20%;
	margin: 0 auto;
	font-size: 14pt;
	background-color: #DDDDDD;
}
/* 테이블 셋팅 */
.d_table{
	width: 80%;
	text-align: center;
	font-size: 12pt;
	margin: 0 auto;
	background-color: white;
}
/* 레이아웃 중단 */
.middle_knk{
	width: 100%;
	height: 60%;
	background-color: #F6F6F6;
}
/* 레이아웃 중단 - 업무 일지 */
.report{
	width: 80%;
	height: 7%;
	margin: 0 auto;
	font-size: 14pt;
	background-color: #DDDDDD;
}
/* 레이아웃 하단 */
.bottom_knk{
	width: 100%;
	height: 20%;
	text-align: right;
}
/* 레이아웃 하단 - 상단 */
.bottom_top{
	width: 100%;
	height: 50%;
	background-color: white;
}
/* 레이아웃 하단 - 글쓰기 버튼 */
.btn_knk{
	display: inline-block;
	width: 10%;
	height: 35%;
	text-align: center;
	font-size: 10pt;
	margin-top: 10px;
}
/* 레이아웃 하단 - 글쓰기 버튼 크기 */
.btn_btn{
	width: 60px;
	height: 30px;
	margin: 0 auto;
}
/* 레이아웃 하단 - 하단 */
.bottom_bt{
	width: 100%;
	height: 50%;
	background-color: white;
}
/* 레이아웃 하단 - 페이징 */
.paging{
	width: 20%;
	height: 30%;
	text-align: center;
	margin: 0 auto;
	font-size: 12pt;
	background-color: white;
}