@CHARSET "UTF-8";
/*
 * 161122 이동건 - 기본 레이아웃 디자인 제작
 * 161123 이동건 - 탭 레이아웃 4개 추가
 * 161128 이동건 - 탭 레이아웃 디자인 수정
 */
body {
	margin: 0px;
	font-size: 0pt;
}

div {
	vertical-align: top;
	overflow: hidden;
}

.main_layout {
	width: 100%;
	min-width: 1800px;
	height: 1000px;
}

.main_topbar {
	width: 100%;
	height: 5%;
	background-color: silver;
}
.main_topbar_title {
	width: calc(50% - 20px);
	height: calc(100% - 10px);
	font-size: 15pt;
	text-align: left;
	font-weight:bold;
	padding: 10px 0px 0px;
	display: inline-block;
	margin-left: 20px; 
}
.main_topbar_account {
	width: 50%;
	height: calc(100% - 10px);
	font-size: 15pt;
	text-align: right;
	font-weight:bold;
	padding: 10px 0px 0px;
	display: inline-block;
}
	.main_topbar_account_opt {
		width: 44px;
		height: calc(100% - 10px);
		display: inline-block;
		cursor: pointer;
		background-color: gray;
	}
	.main_topbar_account_logout {
		width: 88px;
		height: calc(100% - 10px);
		display: inline-block;
		font-size: 12pt;
		text-align: center;
		font-weight:bold;
		cursor: pointer;
		background-color: gray;
		margin-right: 20px;
	}

.main_midbar {
	width: 100%;
	height: 5%;
	margin-top: 5px;
}
.main_midbar_time {
	width: 10%;
	height: 100%;
	font-size: 12pt;
	font-weight:bold;
	text-align: center;
	background-color: silver;
	display: inline-block;
}
.main_midbar_tabs {
	width: calc(90% - 5px);
	height: 100%;
	background-color: silver;
	display: inline-block;
	margin-left: 5px;
}

.main_content {
	width: 100%;
	height: 90%;
	margin-top: 5px;
}
.main_content_menu {
	width: 10%;
	height: 100%;
	display: inline-block;
	font-size: 15pt;
	text-align: center;
	font-weight:bold;
	background-color: silver;
}
.main_content_page {
	width: calc(90% - 5px);
	height: 100%;
	display: inline-block;
	background-color: gray;
	margin-left: 5px;
}

.main_menu_btn_acti {
	width: 100%;
	margin: 0 auto;
	font-size: 15pt;
	text-align: left;
	font-weight:bold;
	cursor: pointer;
	background-color: white;
}
.main_menu_btn {
	width: 100%;
	margin: 0 auto;
	font-size: 15pt;
	text-align: left;
	font-weight:bold;
	cursor: pointer;
	background-color: gray;
}
.main_menu_btn:hover {
	background-color: #505050;
}
.main_menu_btn:active {
	background-color: gray;
}

.menu_btnlist {
	width: 100%;
	margin: 0 auto;
	font-size: 15pt;
	text-align: center;
	font-weight:bold;
	cursor: pointer;
 	display: none;
}
.btnlist_btns {
	width: 100%;
	height: 5%;
	margin: 0 auto;
	font-size: 15pt;
	text-align: left;
	font-weight:bold;
	cursor: pointer;
	background-color: white;
}
.btnlist_btns:hover {
	background-color: #F0F0F0;
}

.main_tab {
	width: calc(8% - 3px);
	height: calc(100% - 6px);
	background-color: white;
	border-radius: 6px;
	margin: 3px 0;
	margin-left: 3px;
	display: inline-block;
	cursor: pointer;
}
.tab_layout{
	width: calc(100% - 15px);
	height: calc(100% - 12px);
	display: inline-block;
	padding-top: 12px;
}
.tab_text {
	font-size: 12pt;
	font-weight: bold;
	text-align: center;
}

.main_tab_close{
	width: 15px;
	height: 15px;
	background-color: red;
	cursor: pointer;
	float: right;
	border-radius: 1000px;
}

.pages{
	height: 100%;
	width: 100%;
}