@CHARSET "UTF-8";
/* 2016-11-24 이관우 개발
		   28  최종 수정
	환자 상세조회 페이지(기본 레이아웃 디자인 제작) */
 
 body { /* 기본셋팅 */
	margin: 0px;
	font-size: 0pt;
 }
 
 div { /* div셋팅 */
	vertical-align: top;
	overflow: hidden;
 }
 
 table { /* 테이블 */
 	width: 90%;
 	height: 100%;
 	margin: 0 auto;
 	font-size: 16pt;
 }
 
 .textbox_d { /* 텍스트 박스 */
 	width: 100%;
 	height: 100%;
 	font-size: 20pt;
 }
 
 .Det_main { /* 메인화면 사이즈 */
 	display: inline-block;
 	width: 100%;
	height: 900px;
	background-color: #EAEAEA;
 }
 
 .Det_name { /* 환자 상세조회 상단 */
 	width: 100%;
 	height: 5%;
 	font-size: 25pt;
 	background-color: #D5D5D5;
 }
 
 .D_name { /* 환자 상세조회 */
 	margin-left: 10px;
 }
 
 .Det_top { /* 상세조회 바탕 */
 	display: inline-block;
 	width: 100%;
 	height: 35%;
 	background-color: #KKKKKK;
 }
 
  .Det_top_t { /* 상세조회 상단 */
 	display: inline-block;
 	width: 100%;
 	height: 85%;
 	background-color: #8C8C8C;
 }
 
 .Det_top_l { /* 상세조회 상단 이미지 바탕 */
 	display: inline-block;
 	width: 20%;
 	height: 100%;
 	float: left;
 	background-color: #FFFFFF;
 }
 
 .Det_top_img { /* 이미지 */
 	width: 260px;
 	height: 260px;
 	margin: 0 auto;
 	margin-top: 3.5px;
 	background-color: #8C8C8C;
 }
 
 .Det_top_r { /* 상세조회 상단 (오른) */
 	display: inline-block;
 	width: 80%;
 	height: 100%;
 	float: right;
 	background-color: #8C8C8C; 
 }
 
 .Det_left { /* 상세조회 오른쪽상단 (왼쪽) */
 	display: inline-block;
 	width: 35%;
 	height: 100%;
 	font-size: 20pt;
 	background-color: #AAAAAA;
 }
 
 .Det_center { /* 상세조회 오른쪽상단 (중앙) */
 	display: inline-block;
 	width: 30%;
 	height: 100%;
 	font-size: 20pt;
 	background-color: #747474;
 }
 
 .Det_right { /* 상세조회 오른쪽상단 (오른) */
 	display: inline-block;
 	width: 35%;
 	height: 100%;
 	font-size: 20pt;
 	background-color: #FFFFFF;
 }
  
 .Det_top_b { /* 상세조회 하단 (진료버튼) */
 	width: 100%;
 	height: 15%;
 	text-align: right;
 	background-color: #D5D5D5;
 }
 
 #jin { /* 진료버튼 */
 	display: inline-block;
 	width: 60px;
 	height: 40px;
 	font-size: 15pt;
 	vertical-align: top;
 	margin-top: 4px;
 	margin-right: 10px;
 }
 
 .Det_middle { /* 진단기록 바탕 */
 	display: inline-block;
 	width: 100%;
 	height: 30%;
 	background-color: #AAAAAA;
 }
 
 .Det_mid_name { /* 진단기록 상단 */
 	width: 100%;
 	height: 10%;
 	font-size: 15pt;
 	background-color: #747474;
 }
 
 .D_name1 { /* 진단기록 */
 	margin-left: 10px;
 }
 
 .Det_mid_bot { /* 진단기록 테이블 */
 	width: 100%;
 	height: 90%;
 	font-size: 15pt;
 	background-color: #FFFFFF;
 }
 
 .Det_bottom { /* 처방기록 바탕 */
	display: inline-block;
	width: 100%;
	height: 30%;
	background-color: #8C8C8C;
 }
 
 .Det_bot_name { /* 처방기록 상단 */
 	width: 100%;
 	height: 10%;
 	font-size: 15pt;
 	background-color: #747474;
 }
 
 .D_name2 { /* 처방기록 */
 	margin-left: 10px;
 }
 
 .Det_bot_bot { /* 처방기록 테이블 */
 	width: 100%;
 	height: 90%;
 	font-size: 15pt;
 	background-color: #D5D5D5;
 }