@CHARSET "UTF-8";
/* 2016-11-24 이관우 개발
		   28  수정
		12-02  수정 및 추가
	직원 정보 조회 페이지(기본 레이아웃 디자인 제작) */
 
 .E_body { /* 기본셋팅 */
	margin: 0px;
	font-size: 0pt;
 }
 
 .E_div { /* div 셋팅 */
	vertical-align: top;
 }
 
 .Emp_main { /* 메인화면 사이즈 */
 	display: inline-block;
 	width: 100%;
	height: 900px;
	background-color: #EAEAEA;
 }
 
 .Emp_top { /* 메인 탑 */
 	display: inline-block;
 	width: 100%;
 	height: 75%;
 	background-color: #5D5D5D;
 }
 
 .Emp_top_name { /* 메인 탑 이름 - 직원조회 */
 	width: 100%;
 	height: 10%;
 	font-size: 40pt;
 	background-color: #F6F6F6;
 }
 
 .E_name { /* 직원조회 간격 */
 	margin-left: 45px;
 }
 
 .Emp_top_table { /* 메인 탑 - 직원 표 12 - 02 수정 */
 	width: 100%;
 	height: calc(80% - 40px);
 	font-size: 20pt;
 	padding-top: 40px;
 	background-color: #DDDDDD;
 }
 
 .EMP_table{ /* 직원조회 표 사이즈 12 - 02 수정 */
 	width: 95%;
 	text-align: center;
 	background-color: #FFFFFF;
 }
 
 .Emp_top_bar { /* 메인 탑 - 직원등록 바 */
 	width: 100%;
 	height: 10%;
 	text-align: right;
 	background-color: #FFFFFF;
 }
 
 .E_list_Btn { /* 목록보기 2016 - 12 - 02 추가*/
	display: inline-block;
    width: 120px;
 	height: 56px;
 	font-size: 20pt;
 	vertical-align: top;
 	margin-top: 5.5px;
 	margin-right: 10px; 
 }
 
 /* .top_btn { 메인 탑 - 직원등록 버튼
 	width: 10%;
 	height: 100%;
 	font-size: 30pt;
 	border-radius: 15px;
 	float: right;
 	text-align: center;
 	background-color: #FFB2D9;
 } */
 
 .Emp_bottom { /* 메인 바텀 */
 	display: inline-block;
 	width: 100%;
 	height: 25%;
 	background-color: #FFFFFF;
 }
 
 .Emp_bottom_list { /* 메인 바텀 - 리스트 버튼 */
 	width: 100%;
 	height: 50%;
 	text-align: center;
  	background-color: #KKKKKK;	
 }
 
 .E_paging { /* 직원표 리스트 버튼  12 - 02 추가*/
 	font-size: 20pt;
 	margin-top: 33px;
 }
 
 .Emp_bottom_search { /* 메인 바텀 검색버튼*/
 	width: 100%;
 	height: 50%;
 	text-align: center;
 	background-color: #DDDDDD;
 }
 
 .E_select_box { /* 셀렉트 박스  */
  	display: inline-block;
  	width: 160px;
  	height: 56px;
 	font-size: 20pt;
 	vertical-align: top;
 }
 
 .E_search_Text { /* 텍스트 박스 */
  	display: inline-block;
  	width: 700px;
  	height: 50px;
  	font-size: 20pt;
 }
  
 .E_search_Btn { /* 검색 */
  	display: inline-block;
    width: 100px;
 	height: 56px;
 	font-size: 20pt;
 	vertical-align: top;
 }
  
 .E_select_box, .E_search_Text, .E_search_Btn { /* 셀렉트 박스, 텍스트 박스, 검색버튼 간격 */
 	margin-top: 30px;
 }