@CHARSET "UTF-8";
/* 2016-11-22 이관우 개발
		   23 .top_btn 삭제
		   28  최종 수정
	환자 정보조회 페이지(기본 레이아웃 디자인 제작) 
		12-06 id로 받은 css 클래스로 수정 */
 
 .p_body { /* 기본셋팅 */
	margin: 0px;
	font-size: 0pt;
 }
 
 .p_div { /* div셋팅 */
	vertical-align: top;
 }
 
 .Patient_main { /* 환자조회 메인화면 사이즈 */
 	display: inline-block;
 	width: 100%;
	height: 900px;
	background-color: #EAEAEA;
 }
 
 .top { /* 메인 탑 */
 	display: inline-block;
 	width: 100%;
 	height: 75%;
 	background-color: #5D5D5D;
 }
 
 .top_name { /* 메인 탑 이름 - 환자조회 */
 	width: 100%;
 	height: 10%;
 	font-size: 40pt;
 	background-color: #FFFFFF;
 }
 
 .p_name { /* 환자조회 간격 */
 	margin-left: 45px;
 }
 
 .top_table { /* 메인 탑 - 환자 표  12 - 01 수정*/
 	width: 100%;
 	height: calc(80% - 25px);
 	font-size: 20pt;
 	padding-top: 25px;
 	background-color: #FFFFFF;
 }
 
 .p_table { /* 환자조회 표 12 - 01 수정 */
 	width: 100%;
 	text-align: center;
 	border-collapse: collapse;
 	background-color: #FFFFFF;
 }
  
 .p_table_tr:hover { /* 테이블 색깔 지정 */
 	cursor: pointer;
 	background-color: #F0F0F0;
 }
 
 .p_table th {
 	padding: 10px;
 	color: #FFFFFF;
 	background: #43A047;
 }
 
 .p_table td {
 	padding: 4.5px;
 	border-bottom: 1px solid #ccc;
 }
 
 .top_bar { /* 메인 탑 - 환자등록 바 */
 	width: 100%;
 	height: 10%;
 	text-align: right;
 	background-color: #FFFFFF;
 }
 
 .p_Btn { /* 환자등록 버튼 */
 	display: inline-block;
    width: 120px;
 	height: 56px;
 	font-size: 20pt;
 	vertical-align: top;
 	margin-top: 5.5px;
 	margin-right: 10px;
 	cursor: pointer;
 }
 
 .pl_Btn { /* 목록보기 2016 - 12 - 01 추가*/
	display: inline-block;
    width: 120px;
 	height: 56px;
 	font-size: 20pt;
 	vertical-align: top;
 	margin-top: 5.5px;
 	margin-right: 10px;
 	cursor: pointer; 
 }
 
 /* .top_btn { 메인 탑 - 환자등록 버튼 지움
 	width: 10%;
 	height: 100%;
 	font-size: 30pt;
 	border-radius: 15px;
 	float: right;
 	text-align: center;
 	background-color: #FFB2D9;
 } */
 
 .bottom { /* 메인 바텀 */
 	display: inline-block;
 	width: 100%;
 	height: 25%;
 	background-color: #ABABAB;
 }
 
 .bottom_list { /* 메인 바텀 - 리스트 버튼 */
 	width: 100%;
 	height: 50%;
 	text-align: center;
  	background-color: #FFFFFF;
 }
 
 .P_paging { /* 환자표 리스트 버튼  12 - 01 추가*/
 	font-size: 20pt;
 	margin-top: 33px;
 }
 
 .bottom_search { /* 메인 바텀 검색버튼 */
 	width: 100%;
 	height: 50%;
 	text-align: center;
 	background-color: #FFFFFF;
 }
 
 .p_sel { /* 셀렉트 박스  */
  	display: inline-block;
  	width: 160px;
 	height: 56px;
 	font-size: 20pt;
 	vertical-align: top;
 	cursor: pointer;
 }
 
 .p_search_text { /* 텍스트 박스 */
  	display: inline-block;
  	width: 700px;
  	height: 50px;
  	font-size: 20pt;
 }
  
 .p_search_Btn { /* 검색 버튼 */
  	display: inline-block;
    width: 100px;
 	height: 56px;
 	font-size: 20pt;
 	vertical-align: top;
 	cursor: pointer;
 }
  
 .p_sel, .p_search_text, .p_search_Btn { /* 셀렉트 박스, 텍스트 박스, 검색 버튼 간격 */
  	margin-top: 30px;
 }