@CHARSET "UTF-8";

 .wrap{
	 width:100%;
	 height:900px; 
	 background-color: #dddddd;
	 }
/* 상세보기 라는 글자가 적혀있는 부분 */
.header{
		width:100%;
		height:80px;
		margin-left:50px; 
		margin-bottom:10px;
		background-color: #FFFFCC;
			 	font-size: 14pt;
		}
		
/* 작성자 구역 */
.writter{
		 width:100%;
		height:30px;
		margin-left:50px; 
		margin-bottom:10px;
			 	font-size: 12pt;
	 	background-color: #FFFFFF;
		}
/* 등록일  */
.date{
		 width:100%;
		height:30px;
		margin-left:50px; 
		margin-bottom:10px;
			 	font-size: 12pt;
	 	background-color: #00FFFF;
		}
/* 제목 */
.title{
		 width:100%;
		height:30px;
		margin-left:50px; 
		margin-bottom:10px;
	 	background-color: #FFFF00;
	 		 	font-size: 12pt;
	 	
		}
/* 내용 */
.content{
		 width:100%;
		height:460px;
		margin-left:50px; 
		margin-bottom:10px;
	 	background-color: #FFCCFF;
	 		 	font-size: 12pt;
		}
/* 첨부파일 */	
.file{
		 width:100%;
		height:30px;
		margin-left:50px; 
		margin-bottom:10px;
	 	background-color: #FFCCFF;
	 		 	font-size: 12pt;
		}
/* 수정,삭제,목록 있는 버튼 */
.button{
 		 width:100%;
		height:30px;
		margin-left:50px; 
		margin-bottom:10px;
	 	background-color: #FFCCFF;
	 		 	font-size: 12pt;
 		}
 		/* 제목 텍스트박스 길게만드려고 */
#TitleText{
		width:800px;
			}
			/* 첨부파일 텍스트박스 길게만드려고 */
#FileText{
		width:800px;
			}
 