@CHARSET "UTF-8";

.bbs_detail_wrap{
	 width:100%;
	 height:900px; 
	 background-color: #dddddd;
	 }
/* 상세보기 라는 글자가 적혀있는 부분 */
.bbs_detail_header{
		width:100%;
		height:80px;
		margin-left:50px; 
		margin-bottom:10px;
		background-color: #aaaaaa;
		}
		
/* 작성자 구역 */
.bbs_detail_writter{
		 width:100%;
		height:30px;
		margin-left:50px; 
		margin-bottom:10px;
	 	background-color: #FFFFFF;
		}
/* 등록일  */
.bbs_detail_date{
		 width:100%;
		height:30px;
		margin-left:50px; 
		margin-bottom:10px;
	 	background-color: #00FFFF;
		}
/* 제목 */
.bbs_detail_title{
		 width:100%;
		height:30px;
		margin-left:50px; 
		margin-bottom:10px;
	 	background-color: #FFFF00;
	 	
		}
/* 내용 */
.bbs_detail_content{
		 width:100%;
		height:460px;
		margin-left:50px; 
		margin-bottom:10px;
	 	background-color: #FFCCFF;
		}
/* 첨부파일 */	
.bbs_detail_file{
		 width:100%;
		height:30px;
		margin-left:50px; 
		margin-bottom:10px;
	 	background-color: #FFCCFF;
		}
/* 수정,삭제,목록 있는 버튼 */
.bbs_detail_button{
 		 width:100%;
		height:30px;
		margin-left:50px; 
		margin-bottom:10px;
	 	background-color: #FFCCFF;
 		}
 		/* 제목 텍스트박스 길게만드려고 */
#TitleText{
		width:800px;
			}
			/* 첨부파일 텍스트박스 길게만드려고 */
#FileText{
		width:800px;
			}
 