@CHARSET "UTF-8";

/* 메인 레이아웃 */
.first_main{
	width: 100%;
	height: 900px;
}

/* 레이아웃 상단 */
.first_top{
	width: 100%;
	height: 30%;
	background-color: #ffffff;
}

/* 레이아웃 상단 - 공지사항 */
.first_top_information{
	width: 100%;
	font-size: 34pt;
	background-color: #ffffff;
}

/* 테이블 셋팅 */
/* .first_top_table{
	width: 85%;
	text-align: center;
	font-size: 18pt;
	margin: 0 auto;
	background-color: white;
} */
.first_top_table{ /* 테이블 크기 및 색깔 지정 */
	width: 85%;
	
 	border-collapse: collapse;
   text-align: center;
	font-size: 18pt;
	margin: 0 auto;
    line-height: 1.2;
       background: #ffffff;
}
.first_top_table thead th {
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    color: #ffffff;
    border-bottom: 3px solid #ffffff;
}
.first_top_table th {
   width: 150px;
      padding: 4.5px;
    font-weight: bold;
    vertical-align: top;
    border-bottom: 1px solid #ffffff;
    background: #4CAF50;
    text-align: center;
}
.first_top_table td {
    width: 350px;
    padding: 4.5px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
  text-align: center;
}  
.first_top_table_tr:hover{
 	cursor:pointer;
 	background-color: #f0f0f0;
}




/* 레이아웃 중단 */
.first_middle{
	width: 100%;
	height: 30%;
	background-color: #ffffff;
}

/* 레이아웃 중단 - 사내게시판 */
.first_middle_information{
	width: 100%;
	font-size: 34pt;
	background-color: #ffffff;
}
.first_middle_table{ /* 테이블 크기 및 색깔 지정 */
	width: 85%;
	
 	border-collapse: collapse;
   text-align: center;
	font-size: 18pt;
	margin: 0 auto;
    line-height: 1.2;
       background: #ffffff;
}
.first_middle_table thead th {
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    color: #ffffff;
    border-bottom: 3px solid #ffffff;
}
.first_middle_table th {
   width: 150px;
      padding: 4.5px;
    font-weight: bold;
    vertical-align: top;
    border-bottom: 1px solid #ffffff;
    background: #4CAF50;
    text-align: center;
}
.first_middle_table td {
    width: 350px;
    padding: 4.5px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
  text-align: center;
}  
.first_middle_table_tr:hover{
 	cursor:pointer;
 	background-color: #f0f0f0;
}




/* 레이아웃 하단 */
.first_bottom{
	width: 100%;
	height: 30%;
	background-color: #ffffff;
}

/* 레이아웃 하단 - 휴진현황 */
.first_bottom_information{
	width: 100%;
	font-size: 34pt;
	background-color: #ffffff;
}

/* 테이블 셋팅 */

.first_bottom_table{ /* 테이블 크기 및 색깔 지정 */
	width: 85%;
	
 	border-collapse: collapse;
   text-align: center;
	font-size: 18pt;
	margin: 0 auto;
    line-height: 1.2;
       background: #ffffff;
       table-layout: fixed;
}
.first_bottom_table thead th {
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    color: #ffffff;
    border-bottom: 3px solid #ffffff;
}
.first_bottom_table th {
   width: 150px;
    padding: 4.5px;
    font-weight: bold;
    vertical-align: top;
    border-bottom: 1px solid #ffffff;
    background: #4CAF50;
    text-align: center;
    
}
.first_bottom_table td {
 
    width: 150px;
    padding: 4.5px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
  	text-align: center;
  	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
  
}  
