@CHARSET "UTF-8";

 /* 공지사항 메인페이지 사이즈 */
.notice_main{
 	display: inline-block;
 	width: 100%;
	height: 900px;
	background-color: #EAEAEA;
 }

.notice_top { /* 공지사항 메인 탑 */
 	display: inline-block;
 	width: 100%;
 	height: 75%;
 	background-color: #5D5D5D;
 }
 
 .notice_header{ /* 공지사항이라는 글자가 적혀있는 부분 */
 	width: 100%;
 	height: 10%;
 	font-size: 40pt;
 	background-color: #F6F6F6;
 }
 
.notice_name { /* 공지사항 간격 */
 	margin-left: 45px;
 }
 
 .notice_top_table { /* 공지사항 테이블*/
 	width: 100%;
 	height: calc(80% - 40px);
 	font-size: 20pt;
 	padding-top: 40px;
 	background-color: #DDDDDD;
 }
 
.notice_table{ /* 테이블 크기 및 색깔 지정 */
 	width: 95%;
 	text-align: center;
 	background-color: #FFFFFF;
 }
.notice_table_tr:hover{ /* 테이블 크기 및 색깔 지정 */
 	cursor:pointer;
 	background-color: #f0f0f0;
 }

 .notice_bar { /* 공지사항 메인 탑 - 글쓰기 바 */
 	width: 100%;
 	height: 10%;
 	text-align: right;
 	background-color: #FFFFFF;
 }

 .notice_bottom { /* 공지사항 메인 바텀 */
 	display: inline-block;
 	width: 100%;
 	height: 25%;
 	background-color: #ABABAB;
 }
 
 .notice_bottom_list { /* 공지사항 메인 바텀 - 글쓰기 버튼 */
 	width: 100%;
 	height: 50%;
 	text-align: center;
  	background-color: #FFFFFF;	
 }
 
 .notice_page_num { /* 페이징*/
 	font-size: 20pt;
 	margin-top: 33px;
 }
 
 .notice_bottom_search { /* 공지사항 메인 바텀 검색버튼 */
 	width: 100%;
 	height: 50%;
 	text-align: center;
 	background-color: #DDDDDD;
 }
 
  #keyField { /* 셀렉트 박스  */
  	display: inline-block;
  	width: 160px;
 	height: 56px;
 	font-size: 20pt;
 	vertical-align: top;
  }
 
  #notice_searchText { /* 텍스트 박스 */
  	display: inline-block;
  	width: 700px;
  	height: 50px;
  	font-size: 20pt;
  }
  
   #notice_insertBtn { /* 글쓰기 버튼 */
 	display: inline-block;
    width: 120px;
 	height: 56px;
 	font-size: 20pt;
 	vertical-align: top;
 	margin-top: 5.5px;
 	margin-right: 10px;
 }
  
  #notice_searchBtn { /* 검색 버튼 */
  	display: inline-block;
    width: 100px;
 	height: 56px;
 	font-size: 20pt;
 	vertical-align: top;
  }
  
  #keyField, #notice_searchText, #notice_searchBtn { /* 셀렉트 박스, 텍스트 박스, 검색 버튼 간격 */
  	margin-top: 30px;
  }