@CHARSET "UTF-8";
.wrap{
	 width:100%;
	 height:900px; 
	 background-color: #4444CC;
	 }
/* 휴진 신청 */
.header{
		width:900px; 
		height:80px;
		margin-left:50px; 
		margin-bottom:10px;
		background-color: #FFFFCC;
		font-size: 14pt;
		}
		
/* 작성자 구역 */
.writter{
		width:900px; 
		height:30px;
		margin-left:50px; 
		margin-bottom:10px;
	 	background-color: #FFFFFF;
	 	font-size: 12pt;
		}
/* 시작일  */
.date{
		width:900px; 
		height:30px;
		margin-left:50px; 
		margin-bottom:10px;
	 	background-color: #00FFFF;
	 	font-size: 12pt;
		}

/* 제목 */
.title{
		width:900px; 
		height:30px;
		margin-left:50px; 
		margin-bottom:10px;
	 	background-color: #FFFF00;
	 	font-size: 12pt;
	 	
		}
/* 내용 */
.content{
		width:900px; 
		height:460px;
		margin-left:50px; 
		margin-bottom:10px;
	 	background-color: #FFCCFF;
		}
/* 수정,삭제,목록 있는 버튼 */
.button{
 		width:900px; 
		height:30px;
		margin-left:50px; 
		margin-bottom:10px;
	 	background-color: #FFCCFF;
 		}
