@CHARSET "UTF-8";
/* 메인 레이아웃 */
.rest_main{
	width: 100%;
	height: 900px;
}
/* 레이아웃 상단 */
.rest_top{
	width: 100%;
	height: 25%;
	background-color: white;
}
/* 레이아웃 상단 - 기본 정보 */
.rest_b_information{
	width: 100%;
	font-size: 34pt;
	background-color: white;
}
/* 테이블 셋팅 */
.rest_d_table{ /* 테이블 크기 및 색깔 지정 */
	width: 85%;
 	border-collapse: collapse;
    text-align: center;
	font-size: 18pt;
	margin: 0 auto;
    line-height: 1.2;
    background: white;
}
.rest_d_table thead th {
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    color: white;
    border-bottom: 3px solid white;
}
.rest_d_table th {
    width: 150px;
    padding: 4.5px;
    font-weight: bold;
    vertical-align: top;
    border-bottom: 1px solid white;
    background: #4CAF50;
    text-align: center;
}
.rest_d_table td {
    width: 350px;
    padding: 4.5px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
    text-align: center;
}  

.rest_db_table{ /* 테이블 크기 및 색깔 지정 */
	width: 85%;
 	border-collapse: collapse;
    text-align: center;
	font-size: 18pt;
	margin: 0 auto;
    line-height: 1.2;
    background: white;
}
.rest_db_table thead th {
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    color: white;
    border-bottom: 3px solid white;
}
.rest_db_table th {
   width: 150px;
      padding: 4.5px;
    font-weight: bold;
    vertical-align: top;
    border-bottom: 1px solid white;
    background: #4CAF50;
    text-align: center;
}
.rest_db_table td {
    width: 350px;
    padding: 4.5px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
  text-align: center;
}  

/* 레이아웃 중단 */
.rest_middle{
	width: 100%;
	height: 60%;
	background-color: white;
}
/* 레이아웃 중단의 상단 */
.rest_mid_top{
	width: 100%;
	height: 26%;
}
/* 레이아웃 중단 - 업무 일지 */
.rest_report{
	width: 100%;
	font-size: 34pt;
	background-color: white;
}
/* 휴진날짜, 날짜 텍스트 */
.rest_calender{
	display: inline-block;
	font-weight: bold;
	width: 7%;
	height: 25%;
	font-size: 18pt;
	vertical-align: bottom;
	margin: 0 5%;
	background-color: white;
}
/* 레이아웃 상단 - 날짜 선택 */
.rest_cal_btn{
	display: inline-block;
	width: 60%;
	text-align: center;
	margin-top: 4%;
	font-size: 25pt;
	
}
/* 레이아웃 상단 - 날짜 선택 텍스트 */
.rest_cal_text{
	width: 30%;
	height: 30px;
	font-size: 14pt;
	text-align: center;
	margin-left: 16px;
}
/* 왼쪽 날짜 선택 텍스트 */
.rest_cal_le{
	width: 30%;
	height: 30px;
	font-size: 14pt;
	text-align: center;
	margin-right: 16px;
}

.rest_middle2{
	width: 100%;
	height: 60%;
	background-color: white;
}

/* 레이아웃 중단 - 휴진 내용 */
.rest_mid_work{
	display: inline-block;
	width: 15%;
	height: 30%;
	font-size: 18pt;
	font-weight: bold;
	text-align: center;
	margin-left: 10px;
	background-color: white;
}
/* 레이아웃 중단 - 내용 입력 */
.rest_mid_text{
	display: inline-block;
	width: 100%;
	height: 63%;
	margin: 0 auto;
}
/* 레이아웃 중단 - 내용 입력 텍스트 */
.rest_text_size{
	width: 63%;
	height: 97%;   
	font-size: 14pt;
	vertical-align: middle;
}
/* 레이아웃 하단 */
.rest_bottom_bb{
	width: 100%;
	height: 25%;
	text-align: right;
}
/* 레이아웃 하단 - 글쓰기 버튼 */
.rest_btn_1{
	display: inline-block;
	width: 15%;
	height: 35%;
	text-align: center;
	font-size: 10pt;
	margin: 0 auto;
}
/* 레이아웃 하단 - 글쓰기 버튼 크기 */
.rest_btn_button{
	width: 70px;
	height: 35px;
	font-size: 14pt;
	margin: 0 auto;
}