@CHARSET "UTF-8";
/* 메인 레이아웃 */
.rest_apply_main{
	width: 100%;
	height: 900px;
}
/*  상단 레이아웃 */
.rest_apply_top{
	width: 100%;
	height: 50%;
}
/* 신청 현황 레이아웃*/
.rest_apply_request{
	width: 100%;
	height: 15%;
	background-color: #F6F6F6;
	font-size: 30pt;
}
/*  테이블 레이아웃*/
.rest_apply_top_table{
	width: 100%;
	height: 61%;
	background-color: #DDDDDD;
}
/* 테이블 위치 지정 레이아웃 */
.rest_apply_lay_table{
	width: 80%;
	height: 100%;
	margin: 0 auto;
	overflow: auto;
}
/* 상단 테이블 */

.rest_apply_set_table{ /* 테이블 크기 및 색깔 지정 */
	width:100%;
	
 	border-collapse: collapse;
   text-align: center;
	font-size: 16pt;
	margin: 0 auto;
    line-height: 1.2;
       background: #ffffff;
       table-layout: fixed;
}
.rest_apply_set_table thead th {
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    color: #ffffff;
    border-bottom: 3px solid #ffffff;
}
.rest_apply_set_table th {
    width: 150px;
      padding: 4.5px;
    font-weight: bold;
    vertical-align: top;
    border-bottom: 1px solid #ffffff;
    background: #4CAF50;
    text-align: center;
}
.rest_apply_set_table td {
    width: 150px;
    padding: 4.5px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
  	text-align: center;
  	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}  


.rest_apply_table_table{ /* 테이블 크기 및 색깔 지정 */
	width: 100%;
	
 	border-collapse: collapse;
   text-align: center;
	font-size: 16pt;
	margin: 0 auto;
    line-height: 1.2;
       background: #ffffff;
       table-layout: fixed;
}
.rest_apply_table_table thead th {
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    color: #ffffff;
    border-bottom: 3px solid #ffffff;
}
.rest_apply_table_table th {
    width: 150px;
      padding: 4.5px;
    font-weight: bold;
    vertical-align: top;
    border-bottom: 1px solid #ffffff;
    background: #4CAF50;
    text-align: center;
}
.rest_apply_table_table td {
    width: 150px;
    padding: 4.5px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
  	text-align: center;
  	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}  
/* 마우스 올릴 때 색 변경 및 포인터 생성  */
.rest_apply_set_table_tr:HOVER{
	cursor: pointer;
	background-color: #F0F0F0;
}
/* 테이블 */

.rest_apply_table_table td{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
/* 버튼 레이아웃 */
.rest_apply_btn_lay{
	width: 100%;
	height: 13%;
	background-color: #DDDDDD;
}
/* 버튼 위치지정 레이아웃 */
.rest_apply_btn_btn{
	width: 13%;
	height: 85%;
	font-size: 10pt;
	margin: 0 87%;
}
/* 버튼 크기 */
.rest_apply_btn_btn_civa{
	width: 70px;
	height: 35px;
	font-size: 14pt;
	margin: 13px auto;
}
/* 페이징 레이아웃 */
.rest_apply_top_pag{
	width: 100%;
	height: 10%;
	text-align: center;
	background-color: #DDDDDD;
}
/* 페이지 위치 지정 레이아웃 */
.rest_apply_paging{
	display: inline-block;
	width: 30%;
	height: 100%;
	font-size: 15pt;
}
/* 하단 레이아웃 */
.rest_apply_bottom{
	width: 100%;
	height: 50%;
}
/* 휴진 현황 레이아웃 */
.rest_apply_rest{
	width: 100%;
	height: 15%;
	background-color: #F6F6F6;
	font-size: 30pt;
}
/* 일시,진료과,직책 레이아웃 */
.rest_apply_text{
	width: 100%;
	height: 15%;
	text-align: center;
	background-color: #DDDDDD;
}
/* 일시 텍스트 크기 지정 */
.rest_apply_box{
	width: 75%;
	height: 30px;
	font-size: 14pt;
	text-align: center;
}
/* 일시 위치 지정  */
.rest_apply_rrr{
	width: 60%;
	height: 100%;
	margin: 0 auto;
	text-align: center;
}
/* 일시,진료과,직책 위치지정 */
.rest_apply_ilsi{
	display: inline-block;
	width: 33%;
	height: 100%;
	font-size: 25pt;
}
/* 검색 버튼 크기 */
.rest_apply_iBtn{
	display: inline-block;
	width: 9%;
	height: 100%;
	font-size: 15pt;
}
/* 테이블 레이아웃 */
.rest_apply_btm_table{
	width: 100%;
	height: 59%;
	background-color: #DDDDDD;
}
/* 테이블 위치 지정 레이아웃 */
.rest_apply_btm_t{
	width: 80%;
	height: 100%;
	margin: 0 auto;
	overflow: auto;
}
/* 페이징 레이아웃 */
.rest_apply_btm_pag{
	width: 100%;
	height: 10%;
	text-align: center;
	background-color: #DDDDDD;
}
/* 페이지 위치 지정 레이아웃 */
.rest_apply_bt_paging{
	display: inline-block;
	width: 30%;
	height: 100%;
	font-size: 15pt;
}