@CHARSET "UTF-8";
.table_css {
	width: 100%;
	background-color: white;
 	border-collapse: collapse;
    line-height: 1.3;
}
.table_css thead th {
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    color: #ffffff;
    border-bottom: 3px solid #ffffff;
}
.table_css th {
   width: 150px;
      padding: 4.5px;
    font-weight: bold;
    vertical-align: top;
    border-bottom: 1px solid #ffffff;
    background: grey;
    text-align: center;
}
  .table_css td {
    width: 350px;
    padding: 4.5px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
  text-align: center;
}  

.div_treat_main {
	width: 100%;
	height: 100%;
}

.div_treat_title{
	width: 100%;
	height: calc(10% - 5px);
	font-size: 12pt;
	background-color: white;
	margin-bottom: 10px;
	font-weight: bold;
}

.div_treat_patient {
	width: 100%;
	height: calc(35% - 10px);
	margin-bottom: 10px;
}
.div_treat_patient_info {
	width: calc(30% - 20px);
	height: calc(100% - 20px);
	display: inline-block;
	background-color: silver;
	padding: 10px;
}

.div_treat_patient_info_photo {
	width: calc(40% - 5px);
	height: calc(90% - 5px);
	display: inline-block;
	background-color: white;
	margin-right: 10px;
}
.div_treat_patient_info_stat {
	width: calc(60% - 5px);
	height: calc(90% - 5px);
	display: inline-block;
	background-color: silver;
}

.div_treat_patient_treathis {
	width: calc(35% - 20px);
	height: calc(100% - 20px);
	display: inline-block;
	background-color: silver;
	padding: 10px;
}
.div_treat_patient_treathisd {
	width: 100%;
	height: calc(90% - 5px);
	overflow: auto;
	background-color: silver;
}
.div_treat_patient_treathisp {
	width: 100%;
	height: calc(45% - 5px);
	overflow: auto;
	margin-bottom: 2px;
	background-color: silver;
}
.div_treat_patient_treathispp {
	width: 100%;
	height: calc(45% - 2px);
	overflow: auto;
	background-color: silver;
}
.div_treat_patient_pillhis {
	width: calc(35% - 20px);
	height: calc(100% - 20px);
	display: inline-block;
	background-color: silver;
	padding: 10px;
}

.div_treat_doctor {
	width: 100%;
	height: calc(30% - 5px);
	margin-bottom: 10px;
}
.div_treat_doctor_sym {
	width: calc(20% - 20px);
	height: calc(100% - 20px);
	display: inline-block;
	background-color: silver;
	padding: 10px;
}
.div_treat_doctor_diag {
	width: calc(20% - 20px);
	height: calc(100% - 20px);
	display: inline-block;
	background-color: silver;
	padding: 10px;
}
.div_treat_doctor_opinion {
	width: calc(20% - 20px);
	height: calc(100% - 20px);
	display: inline-block;
	background-color: silver;
	padding: 10px;
}
.div_treat_doctor_spe {
	width: calc(20% - 20px);
	height: calc(100% - 20px);
	display: inline-block;
	background-color: silver;
	padding: 10px;
}
.div_treat_doctor_adddata {
	width: calc(20% - 20px);
	height: calc(100% - 20px);
	display: inline-block;
	background-color: silver;
	padding: 10px;
	font-size: 12pt;
}

.div_treat_care {
	width: 100%;
	height: calc(30% - 5px);
}
.div_treat_care_treat {
	width: calc(25% - 20px);
	height: calc(100% - 20px);
	display: inline-block;
	background-color: silver;
	padding: 10px;
}
.div_treat_care_treatinfo {
	width: calc(25% - 20px);
	height: calc(100% - 20px);
	display: inline-block;
	background-color: silver;
	padding: 10px;
}
.div_treat_care_pillname {
	width: calc(25% - 20px);
	height: calc(100% - 20px);
	display: inline-block;
	background-color: silver;
	padding: 10px;
}
.div_treat_care_pillinfo {
	width: calc(25% - 20px);
	height: calc(100% - 20px);
	display: inline-block;
	background-color: silver;
	padding: 10px;
}
.div_treat_btns {
	width: 95%;
	height: calc(5% - 15px);
	text-align: right;
	padding-top: 5px;
	margin: 0 auto;
}